<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <div class="navbar">
        <a href="/">Menu</a>
        <a href="/cart">Cart</a>
    </div>
    <h2 class="title">AUNTIE-AUN Restaurant</h2>
    <div class="menu">
        <% foods.forEach(food => { %>
            <div class="card">
                <img src="<%=food.image%>">
                <div class="card-body">
                    <h3><%= food.name %></h3>
                    <p><%= food.description %></p>
                    <p class="price"><%= food.price %> THB</p>
                    <a class="btn" href="/add/<%= food.id %>">Add to Cart</a>
                </div>
            </div>
        <% }) %>
    </div>

</body>
</html>